#appimage {
  padding-top: 30px;

}

#quotes {
  padding-left: 530px;
  padding-top: 150px;
  margin-left: 500px;
  font-weight: bolder;
  font-size: x-large;
  position: absolute;
  font: Georgia;
};

#header {
  padding-top: 500px;
}


