#appimage {
  padding-top: 50px;
}

#quotes {
  padding-left: 530px;
  padding-top: 150px;
  margin-left: 500px;
  font-weight: bolder;
  font-size: large;
};

#main_container {
  padding-top: 500px;
}

#header {
  padding-top: 500px;
}


